html,
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --blue: rgba(29, 161, 242, 1.00);
    --lightblue: #007eff21;
    --border: 0.4px solid rgba(0, 0, 0, .07);
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
}

.spacer {
    flex-grow: 1;
}

.page-loading {
    background: rgb(33, 33, 33);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    animation: pgLoading .3s ease-out forwards .5s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.page-loading img {
    height: 3rem;
}

.page-wrapper {
    height: 100vh;
    margin: auto;
    max-width: 1300px;
    display: grid;
    grid-template-columns: 15rem 1fr 20rem;
    grid-column-gap: 2rem;
}

.page-wrapper>nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav .logo {
    display: block;
    height: 2rem;
    margin-top: .25rem;
    margin-right: auto;
    margin-bottom: .5rem;
    margin-left: .5rem;
}

nav .link {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem;
    align-items: center;
    color: black;
    border-radius: 4rem;
    padding: .75rem 1rem .75rem .5rem;
}

nav .link.active {
    color: var(--blue);
}

nav .link:hover {
    background-color: var(--lightblue);
    color: var(--blue);
}

nav button {
    padding: .75rem 5rem;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 4rem;
    font-size: 1.25rem;
    margin: .5rem;
}

nav .tw-user {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: .5rem;
    padding: 0.5rem;
    border-radius: 4rem;
    margin-bottom: 0.75rem;
}

nav .tw-user:hover {
    background-color: var(--lightblue);
}

nav .tw-user .pic {
    height: 3rem;
    border-radius: 50%;
}

nav .tw-user .info {
    display: flex;
    flex-direction: column;
}

.tw-user .info .name {
    color: black;
    font-weight: 500;
}

.tw-user .info .handle {
    opacity: .7;
}

.page-wrapper>main {
    border-left: var(--border);
    border-right: var(--border);
}

main .main-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem .75rem;
    border-bottom: var(--border);
    font-weight: 900;
    font-size: 1.25rem;
}

main .tweet {
    border-top: var(--border);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: .75rem;
    padding: .5rem;
    color: rgba(0, 0, 0, .5);
}

.tweet .tweet-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tweet-meta .icon {
    opacity: .5;
    height: .75rem;
    margin: .5rem 0;
}

.tweet-meta .user {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.tweet .tweet-info {
    font-size: small;
    margin: .25rem 0
}

.tweet .tweet_post-name {
    display: flex;
    align-items: center;
    margin: .25rem 0;
}

.tweet .tweet_post-name .name {
    color: #aaaaaa;
    font-weight: 200;
}

main .tweet:last-child {
    border-bottom: var(--border);
    /* border-bottom: 10rem; */
}

.page-wrapper aside {
    /* background-color: whitesmoke; */
}

@keyframes pgLoading {
    /* from {
    opacity: 1;
  }
  80% {
    opacity: .5;
  } */
    to {
        opacity: 0;
        top: -100vh;
    }
}

.tweet-info {
    /* border-bottom: #aaaaaa 10rem; */
}

.image1 {
    height: 1.9rem;
    margin-top: 1.7rem;
    margin-right: 0.7rem;
    border-radius: 50px;
    padding: 0.4rem 0.4rem;
}

.image2 {
    margin-right: 0.7rem;
    /* margin-bottom: 9.7rem; */
    margin-left: 0.7rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    /* margin-bottom: 8rem; */
}

.handle {
    display: flex;
}

h4 {
    background-color: var(--blue);
    border-radius: 20px;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.rem;
    height: 2.4rem;
    margin-left: 30rem;
    color: white;
}

.meg {
    border-top: 7px rgb(218, 220, 224)solid;
}

.juve {
    margin-left: 2rem;
    margin-top: 2rem;
}

.ball {
    margin-left: 3rem;
}

.emoji {
    height: 1.3rem;
    margin-top: 1.7rem;
    /* margin-bottom: 1.7rem; */
    margin-right: 0.7rem;
    border-radius: 50px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    /* padding-top: 0.1rem; */
    /* padding-bottom: 0.3rem; */
    /* padding: 0.4rem 0.4rem; */
}


/* .image2:hover { */

background-color: var(--lightblue);

}

/* .image1:hover { */
background-color: var(--lightblue);

}

/* .emoji:hover { */
background-color: var(--lightblue);

}
.meg1 {
    padding-left: 4rem;
}
.whole:hover {
    background-color: var(--lightblue);
}
.picture {
    margin-left: 2rem;
}
.bot1 {
    padding-right: 10rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    height: 2.8rem;
    /* width: -5rem; */
    margin-top: 0.5rem;
    border-radius: 5rem;
    color: #aaaaaa;
}
.search {
    margin-left: 0.8rem;
    margin-right: 1rem;
}
.bot2 {
    height: 20rem;
    padding-right: 10rem;
    border-radius: 0.5rem;
}
.setting {
    margin-left: 20rem;
}